<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addToMenu</key>
	<array>
		<dict>
			<key>path</key>
			<string>openDesignSpaceFile.py</string>
			<key>preferredName</key>
			<string>Open</string>
			<key>shortKey</key>
			<string></string>
		</dict>
		<dict>
			<key>path</key>
			<string>newDesignSpaceFile.py</string>
			<key>preferredName</key>
			<string>New</string>
			<key>shortKey</key>
			<string></string>
		</dict>
	</array>
	<key>developer</key>
	<string>LettError</string>
	<key>developerURL</key>
	<string>http://letterror.com</string>
	<key>html</key>
	<false/>
	<key>launchAtStartUp</key>
	<integer>1</integer>
	<key>mainScript</key>
	<string>addDesignSpaceFileHandler.py</string>
	<key>name</key>
	<string>DesignSpace</string>
	<key>requiresVersionMajor</key>
	<string>3</string>
	<key>requiresVersionMinor</key>
	<string>1</string>
	<key>timeStamp</key>
	<real>1531168218.27</real>
	<key>version</key>
	<string>1.6</string>
</dict>
</plist>
