<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addToMenu</key>
	<array>
	</array>
	<key>developer</key>
	<string>Letterror</string>
	<key>developerURL</key>
	<string>https://letterror.com</string>
	<key>html</key>
	<true/>
	<key>launchAtStartUp</key>
	<integer>1</integer>
	<key>mainScript</key>
	<string>main.py</string>
	<key>name</key>
	<string>Designspace Editor 2</string>
	<key>requiresVersionMajor</key>
	<string>4</string>
	<key>requiresVersionMinor</key>
	<string>5b</string>
	<key>timeStamp</key>
	<real>1653936779.9141068</real>
	<key>version</key>
	<string>2.7</string>
</dict>
</plist>
